body {
  background-color: #d5c2a2;
  color: #1d755f;
  overflow-x: hidden;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'libre_baskervilleregular';
}

.App-logo {
  width: 100px;
  height: auto;
  pointer-events: none;
  object-fit: contain;
  vertical-align: middle;
  padding-right: 20px;
  padding-top: 5px;
}

.App-header {
  vertical-align: middle;
  background-color: white;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #016a4f;
}

.long {
  background-color: #a28658;
  height: 7px;
  width: auto;
}

.menuitem {
  font-family: 'libre_baskervilleitalic';
  font-size: calc(5px + 2vmin);
  text-align: center;
  height: 40px;
  width: 120px;
}

.extendfull, .extendleft {
    padding-left: 3000px;
    margin-left: -3000px;
}

.extendfull, .extendleft {
    padding-right: 3000px;
    margin-right: -3000px;
}

.extendup {
  padding-top: 3000px;
  margin-top: -3000px;
}

.button-hazard, .button-longlong, .button-long, .button {
  font-family: 'libre_baskervillebold';
  font-size: 17px;
  border: 3px solid white;
  border-radius: 50px;
  background-color: #016a4f;
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.button-long {
  width: 100px
}

.button-longlong {
  width: 200px
}

.button-hazard {
  background-color: yellow;
  color: #016a4f;
  width: 50px;
  height: 50px;
}

a {
  color: #034937;
  text-decoration: none;
}

a:visited {
  color: #034937;
  text-decoration: none;
}


a:hover {
  text-decoration: none;
  color: #3db154;
}

a:active {
  text-decoration: none;
  color: #86ca99;
}


@font-face {
  font-family: 'libre_baskervillebold';
  src: url('assets/librebaskerville-bold-webfont.woff2') format('woff2'),
       url('assets/librebaskerville-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'libre_baskervilleitalic';
  src: url('assets/librebaskerville-italic-webfont.woff2') format('woff2'),
       url('assets/librebaskerville-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'libre_baskervilleregular';
  src: url('assets/librebaskerville-regular-webfont.woff2') format('woff2'),
       url('assets/librebaskerville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}